.footer {
    width: 100%;
    position: relative;
}

.footer_content {
    background-color: rgb(3, 118, 196);
    color: azure;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: left;

}

.footer_title {
    text-align: left;
    font-size: 20px;
}

.footer_list {
    list-style-type: none;
    text-align: left;
}

.subscribe_form {
    padding-top: 15px;
    padding-bottom: 12px;
}

.subscribe_input {
    padding-bottom: 10px;
}

.subscribe_input_content {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 38px;
}

.subscribe_button {
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.footer_bottom {
    background-color: azure;
    padding: 5px 0px;
}