* {
    margin: 0;
    min-height: 0;
    min-width: 0;
}

.home {
    display: flex;
    padding-top: 40px;
    min-height: 0;
    min-width: 0;
}

.left_bar {
    display: inline-block;
    height: 400px;
    width: 3200px;
    text-align: left;
    list-style-type:  none;
    padding-top: 15px;
    padding-bottom: 0px;
    padding-left: 120px;
    padding-right: 200px;
}

.left_bar_title {
    background-color: rgb(3, 118, 196);
    color: azure;
    text-align: center;
    padding: 10px;
}

.left_bar_items {
    background-color: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 25px;
    font-size: 20px;
}

.left_bar_item {
    padding: 10px 0px 20px 10px;
}

.slide {
    background-color: lightgray;
    margin-top: 15px;
    margin-right: 30%;
}

.special_item {
    width: 600px;
}

.hot_items_title {
    padding: 10px 10px;
    background-color: rgb(3, 118, 196);
    color: azure;
}

.hot_items_list {
    padding: 30px 30px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.hot_item {
    width: 280px;
}

.item_name {
    padding: 20px 0px;
}

.know_more {
    background-color: lightgray;
}

